.app {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: blue;
}

.search-bar {
  margin: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.recipe-card {
  margin: 20px;
  cursor: pointer;
  text-align: left;
}

.recipe-card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.recipe-details {
  margin-top: 20px;
  text-align: left;
}

.recipe-details img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.recipe-details h3 {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
